body {
	background-color: #333;
}

.post-panel {
	margin-top: 7px;
}

.post-panel > .panel-heading {
	text-decoration: none !important;
}

.post-panel > .panel-heading:hover {
	background-color: rgba(0, 0, 10, 0.1);
}
